.user_info_block {
  background: #ec5d11;
  color: white;
  padding: 40px;
  border-bottom: 60px solid #ec5d11;
  border-bottom-left-radius: 60%;

  border-bottom-right-radius: 60%;

  .avatar_image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
  }

  .user_name {
    margin-left: 40px;
    font-weight: bold;
    font-size: 40px;
  }

  .mobile {
    font-size: 20px;
    margin-left: 40px;
    margin-top: 20px;
  }
}

.content{
  position: relative;
  top: -80px;
  padding-left: 40px;
  padding-right: 40px;
  .trade_block{
    padding: 30px;
    background: white;
    border-radius: 20px;
    .user_icon{
      width: 80px;
      height: 80px;
    }
  }
}

.post_top{
  position: relative;
  top: -80px;
}

.list_page{
  padding: 40px;
  min-height: 100vh;
  .trade_item{
    padding: 30px;
    border-radius: 10px;
    background: #ffffff;
    margin-bottom: 30px;
    .product_image_block{
      width: 120px;
      height: 120px;
      image.product_image{
        width: 120px;
        height: 120px;
        border-radius: 10px ;
        overflow: hidden;
      }
    }
    .product_title{
      margin-left: 20px;
      font-size: 28px;
      font-weight: 400;
      height: 100px;
    }
    .trade_btn{
      display: inline-block;
      font-size: 24px;
      border-color: #ec5d11;
      color: #ec5d11;
    }
  }
}

